.button {
    background: var(--main);
    border: 2px solid var(--main);
    box-sizing: border-box;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    padding: 11px 22px;
}
  
.button--disabled {
    cursor: not-allowed;
    background: var(--disabled-bg);
    color: var(--disabled);
}
  
.add-fact-button {
    background: var(--main);
    border: 2px solid var(--main);
    box-sizing: border-box;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 11px 22px;
    position: sticky;
    top: 40px;
    left: 75%;
    cursor: pointer;
}

.vote-button {
    background: var(--main);
    border: 2px solid var(--main);
    box-sizing: border-box;
    border-radius: 60px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 16px 24px;
    min-width: 160px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) { 
    .add-fact-button {
        flex: 1;
        margin: 0 10px 75px 10px;
    }

    .vote-button {
        padding: 14px;
        font-size: 12px;
    }
}

