.header {
    background-image: url('../../images/house-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
  
  
.header__title {
    font-size: 80px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 10%;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
  
@media (max-width: 767px) { 
    .header {
        background-image: url('../../images/house-bg-mobile.png');
    }
    
    .header__title {
        top: 60%;
        font-size: 40px;
        line-height: 40px;
    }
}
  