@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './normalize.css'; */
@import './variables.css';
@import './components/fact.css';
@import './components/buttons.css';
@import './components/header.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input {
  border: 1px solid var(--smoke);
  border-radius: 16px;
  padding: 14px;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}

@media (max-width: 767px) { 
  .container {
    padding: 0 10px;
  }
}

.section {
  margin-bottom: 90px;
}

@media (max-width: 767px) { 
  .section {
    margin-bottom: 40px;
  }
}

.instruction {
  background-color: var(--main-transparent-bold);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  font-size: 20px;
  align-items: center;
  line-height: 150%;
}

.instruction img {
  margin-right: 50px;
  width: 60px;
  height: 60px;
}

@media (max-width: 767px) { 
  .instruction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .instruction img {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
  }
}

.text-editor {
  width: 610px;
  border-radius: 16px;
}